/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-Urgent {
    color: black;
    font-family: serif;
    background-color: #fb0808b0;
    border-color: #000000;
}

.btn-High {
    /*color: #fff;*/
    background-color: #ff8100;
    border-color: #000000;
    font-family: serif;
}

.btn-Medium {
    /*color: #fff;*/
    background-color: #ffd700;
    border-color: #000000;
    font-family: serif;
}

.btn-Low {
    /*color: #fff;*/
    background-color: #cceaff;
    border-color: #000000;
    font-family: serif;
}


.btn-Newx {
    /*color: #fff;*/
    background-color: #99ccff;
    border-color: #000000;
    font-family: serif;
}

.btn-Confirmedx {
    /*color: #fff;*/
    background-color: #C9AAFA;
    border-color: #000000;
    font-family: serif;
}

.btn-InProgressx {
    /*color: #fff;  #FC325D*/
    background-color: #f96987;
    border-color: #000000;
    font-family: serif;
}

.btn-lightredx {
    /*color: #fff;*/
    background-color: #ff7b7b;
    border-color: #000000;
    font-family: serif;
}

.btn-InTestingx {
    /*color: #fff;*/
    background-color: #FDBC84;
    border-color: #000000;
    font-family: serif;
}

.btn-OnHoldx {
    /*color: #fff;*/
    background-color: #FFDF7D;
    border-color: #000000;
    font-family: serif;
}

.btn-Resolvedx {
    /*color: #fff;*/
    background-color: #83e7a8;
    border-color: #000000;
    font-family: serif;
}

.btn-Closedx {
    /*color: #fff;*/
    background-color: #9ccc34;
    border-color: #000000;
    font-family: serif;
}

.btn-lightcyanx {
    /*color: #fff;*/
    background-color: #86CEDA;
    border-color: #000000;
    font-family: serif;
}

.btn-lightgrayx {
    /*color: #fff;*/
    background-color: #ADB6BD;
    border-color: #000000;
    font-family: serif;
}

.btn-Replyx {
    /*color: #fff;*/
    background-color: #ff9936;
    border-color: #000000;
    font-family: serif;
}

.btn-Duplicatex {
    /*color: #fff;*/
    background-color: #C5D3E3;
    border-color: #000000;
    font-family: serif;
}

.btn-ReOpenedx {
    /*color: #fff;*/
    background-color: #ffdc73;
    border-color: #000000;
    font-family: serif;
}

.btn-UnConfirmedx {
    /*color: #fff;*/
    background-color: #FFE9D2;
    border-color: #000000;
    font-family: serif;
}

.btn-Rejectedx {
    /*color: #fff;*/
    background-color: #ff7474;
    border-color: #000000;
}


.btn-lightgreenglowx {
    /*color: #fff;*/
    background-color: #DFFF00;
    border-color: #000000;
}

.btn-lightbluechatx {
    /*color: #fff;*/
    background-color: #cec9ff;
    border-color: #000000;
}

.btn-darktbluechatx {
    /*color: #fff;*/
    background-color: #83aff0;
    border-color: #000000;
}

.btn-darktpurpletimex {
    /*color: #fff;*/
    background-color: #5848b0;
    border-color: #000000;
    color: #ffffff;
}

.textmerge {
    width: 25%;
    word-break: break-all;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.mandatory:after {
    content: '*';
    color: red;
    padding-left: 2px;
    font-size: 15px;
    font-weight: normal;
    top: -2px;
    position: relative;
}

.form-control.input-validation-error {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/*.brand-link {
    color: #000 !important;
    font-weight: 900 !important;
    background: #ffa99b !important;
}
*/