
@{
    ViewData["PageName"] = "Logs";
}




@await Html.PartialAsync("~/Views/Shared/_DatatablesCss.cshtml")

<style>
    .text-wrap{
        white-space:normal;
    }
    .width-200{
        width:200px;
    }
</style>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">All</h3>
        </div>
        <div class="card-body">
            <table id="LogDataTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>MachineName </th>
                        <th>Logged </th>
                        <th>Level </th>
                        <th>Message </th>
                        <th>Logger </th>
                        <th>Callsite </th>
                        <th>Details </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>





@await Html.PartialAsync("~/Views/Shared/_DatatablesScripts.cshtml")
@Html.Hidden("item-to-delete", "", new { @id = "item-to-delete" })

@section scripts{
    <script>
        $(document).ready(function () {
            $('#LogDataTable').DataTable({
                "processing": true,
                "serverSide": true,
                "order": [[ 0, "desc" ]],
                "filter": true,
                "ajax": {
                    "url": "/Administration/ViewLogs/GridAllLogs",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [1],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [3],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [4],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [5],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [6],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [7],
                        "orderable": false,
                        "searchable": false
                    }
                  
                 
                ],
                "columns": [
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "MachineName", "name": "MachineName", "autoWidth": true },
                   
                    {
                        "render": function (data, type, full, meta)
                        {
                            return moment(full.Logged).format("YYYY-MM-DD HH:mm:ss");
                        }
                    },
                    { "data": "Level", "name": "Level", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta)
                        {
                            return "<div class='text-wrap width-200'>" + full.Message + "</div>";
                        }
                    },
                    {
                        "render": function (data, type, full, meta)
                        {
                            return "<div class='text-wrap width-200'>" + full.Logger + "</div>";
                        }
                    },

                   

                 
                    {
                        "render": function (data, type, full, meta)
                        {
                            return "<div class='text-wrap width-200'>" + full.Callsite + "</div>";
                        }
                    },
                    
                    {
                        "render": function (data, type, full, meta) { return '<a class="btn btn-primary" href="/Administration/ViewLogs/Detail/' + full.ID + '"> View</a>'; }
                    }
                   
                ]
            });
            $('#LogDataTable td').css('white-space','initial');


        });

    

    </script>


}

